@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  color-scheme: light !important;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html,
body {
  min-height: 100%;
  background: var(--background) !important;
  color: var(--foreground);
  color-scheme: light !important;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100dvh;
}
